  <%= simple_form_for  @cash do |f| %> 


    <p><strong>
      
    <%= f.input :requests, as: :numeric%>
      
    </p></strong>

    <p><strong>
        <%= f.input :deliveries, as: :numeric%>
      </strong>
    </p>

    <p><strong>
      <%= f.input :input, as: :numeric%>
    </p></strong>

      <p><strong>
        <%= f.input :exits, as: :numeric%>
    </p></strong>


  <%= link_to 'Voltar', cashes_path %>
    
    <p><br>
      <%= f.submit 'Salvar'%>
    </p></br>
  <% end -%>




